@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

header
	padding-top: 10px
	position: relative

.az-center
	text-align: center

.az-logo
	img
		max-width: 319px
		width: 80%

.az-menu
	list-style: none
	text-align: right
	margin: 0
	padding: 10px 0
	li
		display: inline-block
		a
			display: inline-block
			margin-left: 45px
			font-family: "Geometria-Light", sans-serif
			font-size: 16px
			color: #003300;
			letter-spacing: 0.02em
			&:hover
				color: #003300;
				text-decoration: none

.az-menu-style2
	text-align: left
	margin: 0
	li
		display: block
		padding: 5px 15px
		a
			margin-left: 0

.az-tel
	text-align: right
	a
		font-family: "Geometria-Light", sans-serif
		font-size: 14px
		padding: 0 40px
		background: #7c8c6f;
		color: #fff
		border-radius: 4px
		letter-spacing: 0.02em
		&:hover
			text-decoration: none

.az-mobile-menu
	.az-mobile-menu-click
		position: absolute
		top: 50%
		right: 15px
		transform: translate(-50%, -50%)
		color: #000
		font-size: 16px

.az-drop-menu
	position: fixed
	top: 0
	left: 0
	transform: translate(-100%, 0)
	background: #fff
	border: 1px solid #333
	height: 100%
	transition: all 0.7s ease-in-out
	z-index: 3
	padding: 15px;
	&.active
		transform: translate(0, 0)


.az-slider
	margin-top: 3px
	.az-item
		width: 100%
		min-height: 300px
		position: relative
		&::before
			content: ' '
			margin-top: 54.5%
			float: left
			height: 1px
			width: 1px
		.az-item-text
			position: absolute
			top: 50%
			left: 0
			width: 100%
			background: rgba(0,0,0,0.5)
			display: inline-block
			transform: translate(0, -50%)
			padding: 30px 10px
			text-align: center
			color: #fff
			font-family: "Geometria-Light", sans-serif
			font-size: 48px
			text-transform: uppercase
			letter-spacing: 0.2em
	.owl-dots
		position: absolute;
		bottom: 24px;
		left: 50%;
		transform: translate(-50%, 0)
		.owl-dot
			width: 28px
			height: 28px
			border-radius: 50%
			border: 3px solid #fff
			display: inline-block
			margin: 0 9px
			&.active
				background: url(../img/az-dot.png) no-repeat center center

.az-slider-style2


.az-triangle
	width: 0
	height: 0
	border-bottom: 24px solid #fffccf
	border-left: 28px solid transparent
	border-right: 28px solid transparent
	position: absolute
	bottom: 0
	left: 50%
	transform: translate(-50%, 0)
	z-index: 99999