@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

	background: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto
//************* block2 ***************************
.ah-block2,.ah-block4,.ah-block5
	text-align: center
.ah-block2-span
	display: inline-block
	font-family: "GeometriaLight", sans-serif
	color: #003300
	font-size: 36px
	letter-spacing: 0.02em
	text-transform: uppercase
.ah-b2-icon1
	margin: 0 auto
	margin-bottom: 25px
.ah-block2-text
	display: block
	font-family: "SegoeUIRegular", sans-serif
	text-align: left
	color: #656665;
	font-size: 20px;
	line-height: 18px;
.ah-block2-wrap
	padding: 0 40px
//************* block5 ***************************
.ah-block5-wrapp
	background: #eee7d5
	height: 669px
	border-radius: 40px
	box-shadow: 0 2px 50.4px 19.6px rgba(39, 70, 19, 0.39)
	padding: 55px 25px
.ah-block5-imgbox1
	position: relative
	margin: 33px 40px
	&::before
		position: absolute;
		content: "";
		background: url(../img/ah-arr_r.png);
		width: 76px;
		height: 28px;
		right: 0px;
		top: 50%;
.ah-block5-imgbox2
	position: relative
	margin: 33px 40px
.ah-img1, .ah-img2
	display: inline-block
	padding: 7px 0px
.ah-img1
	margin-right: 70px 

@import "media" // Всегда в конце
@import "media2" // Всегда в конце
